@import "tailwindcss";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600;700&display=swap");

@media print {
  body {
    font-size: 12pt;
  }
  .print\\:hidden {
    display: none !important;
  }
  .print\\:block {
    display: block !important;
  }
  .print\\:break-after-page {
    page-break-after: always;
  }
}
